.header {
    background-color: #eaeaea;
    color: 4C1595;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  nav ul li a {
    color: 4C1595;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  